/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1ab8;
  padding: 10px 20px;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px; /* height of logoimage */
  width: auto;
}

.navbar-links {
  display: flex;
}

.nav-item {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}

.profile-switch {
  display: flex;
  align-items: center;
}

.profile-btn {
  background-color: #00c89c;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-btn:hover {
  background-color: #00b08f;
}
