/* LOGIN SCREEN */
.login-background {
  min-height: 100vh;
  background-color: #000CA4;
}

.login-form {
  width: 30%;
  height: 80vh;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

.login-logo {
  max-width: 70%;
  height: auto
}

.login-text {
  font-family: 'Poppins';
  color: black;
  font-weight: bold;
}

.login-input-box {
  font-family: 'Poppins';
  background-color: #eff6ff;
  width: 75%;
}

.login-alternate-signin{
  max-width: 20%;
  height: auto
}

.login-button {
  font-family: 'Poppins';
  background-color: #000CA4;
  width: 75%;
  border-radius: 20px;
}

/* HOME PAGE */
.page-wrapper-style {
  padding: 0 120px;
}

.circular-icon-style {
  background-color: #6C63FF;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
}

.avatar-style {
  width: 100px;
  height: 100px;
  margin: 0 auto
}

.snapshot-style {
  padding: 20px;
  min-height: 390px;
  background-color: #f0f0f0
}

.recent-supports-style {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9
}

.support-card-style {
  background-color: orange;
  height: 150px
}

.search-recent-supports-style {
  padding: 20px;
  background-color: #f9f9f9
}

/* REACT SET UP STUFF */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}